*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #dcf4ce;
    background: cover;
}

.cont{
    display: flex;
    overflow: hidden;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
    padding: 10px 10px;
    background: #DFE8CC;
    border-radius: 50px;
    box-shadow:  -16px 16px 4px #439961,
                16px -16px 4px #94B49F;
}
ul{
    position:relative;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 28px;
}
input[type=submit]{
    background-color: #04AA6D;
    width: auto;
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.form{
        margin-top: 5%;
        text-align: center;
    }