{% extends "main/template.html" %}

{% load static %}

{% block title %}
    New Laboratory Manual
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/createlab.css' %} ? {% now 'U' %}" />
    <div class="cont">
        <form method="POST">
            {% csrf_token %}
            {{form.media}}
            {% for field in form %}
                <div>
                    <label for="{{field.label}}" onclick="showfield('{{field.label}}')">{{field.label}}</label>
                    <div class="createfield" id="{{field.label}}"> 

                        <p>{{field}} </p>

                    </div>
                </div>
                <br>
            {% endfor %}
            <div class="submit">
            <input id="submit" type="submit" name="newlab">
            </div>
        </form>
    </div>

{% endblock %}