{% extends "main/template.html" %}

{% load static %}

{% block title %}
    Laboratory Manual Maker
{% endblock %}

{% block body %}
    <div>
        <h1>Laboratory Manual Maker</h1>
        <div class="search">
            
            <form method="POST" >
                {% csrf_token %}
                <label for="searched">Search: </label>
                <input name="searched"  placeholder="Course / Topic / Instructor" />
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div>
        <ul>
            {% for labmanual in labmanuals %}
                <li>
                    {{labmanual}}
                    <button name="view" onclick="location.href ='{% url 'mainsite:viewlab' labmanual.id %}'">VIEW</button>
                </li>
                {% empty %}
                    <li>No Lab Manual Found</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}